* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(253, 255, 143);
}
 
header {
    background-color: rgb(252, 255, 62);
}

main{
    width: 65%;
    margin: 70px auto;
}

h1 {
   text-align: center;
   color: rgb(105, 52, 189);
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
   padding: 30px;
        
}


h3 {
    text-align: center;
    text-shadow: 0px 4px 3px rgb(105, 52, 189),
    0px 8px 13px rgb(105, 52, 189),
    0px 18px 23px rgb(105, 52, 189);
    margin: 30px;
}


h4 {
    text-align: center;
    color: rgb(50, 26, 73);
    margin: 20px;
}

p {
    color: rgb(50, 26, 73);
}

.S{
    float: left;
    
}

.V {
    float: right;
}
header h1 {
    text-align: center;
     
}

img {
    width: 250px;
    height: 156px;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
    
footer{
    clear: both;
    padding: 30px;
    background-color: rgb(188, 124, 218);
    margin-top: auto;
}

footer div{
    margin: auto;
}

footer p{
   text-align: center;
}
